* {
  font-family: "Geist", sans-serif;
}

.no-border {
  background-color: white;
  color: black;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #d1d5db !important;
  transition: all 0.2s ease;
}
